<div class="app">
  <div class="actions">
    <button (click)="addSquare()">Add</button>
    <button>Move</button>
    <button>Delete</button>
    <button>Undo</button>
    <button>Redo</button>
  </div>
  <div class="canvas">
    {{squares$ | async | json}}
  </div>
</div>

<div class="modal" *ngIf="isModalShown" [formGroup]="squareCreationFormGroup">
  <input aria-label="id" type="text" placeholder="ID" formControlName="id">
  <input aria-label="x" type="text" placeholder="x" formControlName="x">
  <input aria-label="y" type="text" placeholder="y" formControlName="y">
  <input aria-label="length" type="text" placeholder="length" formControlName="length">
</div>
